<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>awesome links</title>
</head>
<body>
  <h1><a href="/">awesome links</a></h1>
  <%- body %>
</body>
</html>
